*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my_container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.bg_color_container{
    background-color: #B91450;
    height: 100vh;
}

.form_container> form > div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.bg_color_ticket{
    background-color: #FFFFFF;
}

#first_ticket{
    border-radius: 20px;
}

.bg_nominative{
    background-color: #808080;
}

.border_second_ticket{
    border: 2px solid #808080;
}

.btn{
    background-color: lightgrey;
    border: 1 px solis #B91350;
}